@media screen and (min-width: 811px) and (max-width: 1113px) {
  .hero {
    flex-direction: column;
    min-height: 100vh;
  }
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  #home {
    height: min-content;
  }

  .footer .nav-links {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .footer .nav-links,
  .footer .nav-links a {
    font-size: 14px;
  }
}

@media screen and (max-width: 810px) {
  .section__title {
    font-size: 1.5rem;
  }

  .hero {
    flex-direction: column;
    margin-top: 0;
  }

  .hero-img-model-container {
    max-width: 350px;
    margin-top: 2.5rem;
  }

  .hero-details-container img {
    width: 200px;
  }

  .hero-details-container p {
    font-size: 14px;
    padding: 1rem;
    max-width: 350px;
  }

  .cards__container {
    flex-direction: column;
  }

  .academy__container {
    flex-direction: column;
  }

  .academy__img-container {
    max-width: 350px;
  }

  .academic__details {
    max-width: 350px;
  }

  #testimonies {
    padding: 0;
  }

  .hours .section__title {
    margin-top: 6rem;
  }

  .hours__container {
    flex-direction: column;
    align-items: center;
  }

  .hours__details-container p {
    max-width: 350px;
  }

  .hours__img-container {
    max-width: 350px;
  }

  .fqa__card-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 1063px) {
  .hours__container {
    flex-direction: column;
    align-items: center;
  }

  .hours__details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hours__details-container p {
    text-align: center;
  }

  .footer-sig {
    font-size: 13px;
  }
}

@media screen and (max-width: 1024px) {
  .navbar .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: rgba(0, 0, 0, 0.8);
    background: #212529;
    padding: 20px;
    border-radius: 10px;
  }

  .nav-links li {
    margin-bottom: 10px;
  }

  .menu-toggle {
    display: block;
  }
}
