@media screen and (min-width: 640px) and (max-width: 1024px) {
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 80px 30px;
    height: auto;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-image img {
    max-width: 90%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: rgba(0, 0, 0, 0.8);
    background: #212529;
    padding: 20px;
    border-radius: 10px;
  }

  .nav-links li {
    margin-bottom: 10px;
  }

  .menu-toggle {
    display: block;
  }
}

@media screen and (max-width: 1013px) {
  .hours__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
  }

  .hours__details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hours__details-container p {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .hero {
    flex-wrap: wrap;
  }
}
